html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas{

  background-image: url('pic/space.jpg');
  background-size: 100%;
  border: 1px solid black;
}
