@mixin html($height, $width, $display, $directoin, $justify, $marginl, $marginr){
  html{
    height: $height;
    width: $width;
    display: $display;
    flex-direction: $directoin;
    justify-content: $justify;
    margin-left: $marginl;
    margin-right: $marginr;
  }
  body{
    height: $height;
    width: $width;
    display: $display;
    flex-direction: $directoin;
    justify-content: $justify;
    margin-left: $marginl;
    margin-right: $marginr;
  }
}

@mixin header($height, $width, $border, $talign){

  header{
    height: $height;
    width: $width;
    border: $border;
    text-align: $talign;
  }
  footer{
    height: $height;
    width: $width;
    border: $border;
    text-align: $talign;
  }

}

@mixin main($height, $width, $display, $justify){
  main{
    height: $height;
    width: $width;
    display: $display;
    justify-content: $justify;
  }
}
@mixin section($height, $width, $border){
  section{
    height: $height;
    width: $width;
    border: $border;
  }
}
@mixin div($height, $width, $display, $justify){
  div{
    height: $height;
    width: $width;
    display: $display;
    justify-content: $justify;
  }
}
